.dashboard {
  background-color: #0d121c;
  height: 100vh;
  display: grid;
  grid-template-columns: 8.7%;
}

.dashboard-nav {
  grid-row: 1/1;
  grid-column: 1/12;
}
.dashboard-content {
  display: grid;
  grid-column: 3/12;
  grid-row: 1/2;
  grid-template-rows: 7.5%;
}
