.dashboard {
  background-color: #0d121c;
  display: grid;
  grid-template-columns: 1fr 6fr;
  width: 100%;
}

.dashboard-nav {
  position: relative;
  background-color: #252a33;
  border-right: 1px solid #364152;
  padding-left: 20px;
  height: 100%;
  width: 260px;
}

.dashboard-content {
  background-color: #0d121c;
}