.content-header {
  display: flex;
  justify-content: space-around;
  padding: 20px;

  .content-image-info {
    position: relative;
  }

  img {
    border-radius: 10px;
  }

  .image-arrow {
    position: absolute;
    width: 40px;
    height: 40px;
    color: #fcfcfd;
    bottom: 90px;
    left: 15px;
  }

  h2 {
    position: absolute;
    font-size: 36px;
    color: #fcfcfd;
    font-weight: 400;
    bottom: 10px;
    left: 15px;
  }

  p {
    position: absolute;
    font-size: 14px;
    color: #fcfcfd;
    bottom: 10px;
    left: 15px;
  }
}
.podcast-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4a4d55;
  width: 77px;
  height: 36px;
  border-radius: 10px;
  text-decoration: none;
  color: #eef2f6;
  font-size: 14px;
}

.podcast-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #eef2f6;
  width: 1600px;

  a {
    text-decoration: none;
  }

  h2 {
    font-size: 20px;
    font-weight: 400;
    margin-left: 40px;
  }
}

.button-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4a4d55;
  border-radius: 10px;
  text-decoration: none;
  background-color: #0d121c;
  color: #eef2f6;
  padding: 8px 12px;
  font-weight: 400;
  font-size: 14px;
  margin-left: 8px;

}
.featured-button:hover {
  cursor: pointer;
}
.featured-button.active {
  background-color: #FCFCFD;
  color: #121926;
}