.upload-file-main {
  width: 489px;
  height: 559px;
  background-color: #252a33;
  border: 1px solid #364152;
  border-radius: 10px;
  margin-top: 36px;

  .upload-file-content {
    height: 79.7%;
    margin: 24px 24px 0px 24px;
    border: 1px solid #4a4d55;
    border-radius: 10px;
  }

  .upload-file-intr {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #eef2f6;

    h3 > a {
      text-decoration: none;
      color: #528bff;
    }
    p {
      font-size: 12px;
      color: #cdd5df;
    }
  }

  .upload-file-button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    width: 100%;
    border: none;
    margin: 20px 24px 24px 24px;
    background-color: #efcc44;
    color: #0d121c;
    font-size: 14px;
    font-weight: 400;
    height: 44px;
    border-radius: 10px;
  }
  button:hover {
    cursor: pointer;
  }
}
